.App {
  text-align: center;
  padding-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*My styles ================================*/

.wrapper {
  width: 600px;
  background-color: #37e7ff;
  padding: 20px 15px;
  margin: 0 auto;
}

.count__title {
  text-align: center;
  margin-bottom: 30px;
}

.wrap__count {
  display: flex;
  justify-content: center;
}

.box__count {
  width: 15px;
  border: 1px solid #570eff;
  border-radius: 2px;
  padding: 10px 30px;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
}.box__count:hover {
   color: #fff;
   background-color: #4863ff;
 }

 ul {
   list-style: none;
   text-align: left;
 }

 .delete__btn {
   margin-left: 10px;
   cursor: pointer;
 }


